{% extends 'base.html' %}


{% block content %}

</head>


<div classs='container-fluid'>
<div class="bg-img">
  <div class="row">

  <div class="col-md-2"> </div>

        <div class="col-md-8">
<a href="/pitch/" >Write a Pitch</a></br>
            <h1>All the pitches posted</h1>
  {% for pitch in pitches %}
<blockquote>
{{pitch.pitch}}
</blockquote>
<a href="/pitch/{{pitch.id}}"><span class="glyphicon glyphicon-comment"></span></a>
<h1>{{pitch.user.username}}</h1>
  {% endfor %}
      </div>

       <div class="col-md-2"> </div>
</div>
</div>
</div>


{% endblock %}
