{% extends 'base.html' %}
{% block content %}

<header class="intro-header" style="background-image: url({{ url_for('static', filename='images/blo.jpeg') }})">

        <section id="slider" class="slider" style="background-color:white;">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider text-center">
                            <div class="col-md-12">
                                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                                    <h1 style='font-size:50px'>BE THE BOSS OF YOURSELF AND MAKE THE BEST OUT OF IT.</h1>
                                    <a  href="/Pitch"><button class="btn-lg">Create Pitch </button></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


{% endblock %}
