{% extends 'base.html' %}
{% block content %}
<div classs='container-fluid'>
<div class="bg-img">
  <div class="row">
  <div class="col-md-4">
     <h1>Pitch</h1>
        <p> {{pitch.pitch}}</p>
        </div>
        <div class="col-md-4">

          {{wtf.quick_form(PitchForm)}}

          </div>
       <div class="come">

         {% for comments in comments %}
             <blockquote>{{comments.comments}}
<a href="#"><a href="#"></a>
        </blockquote>
         {% endfor %}

 </div>

</div>
</div>
</div>


{% endblock %}
