{% extends 'base.html' %}

{% block content %}
</head>
<div classs='container-fluid'>
<div class="bg-img">
  <div class="row">
  <div class="col-md-4"> <h1>Pitch</h1>
          {{pitch.pitch}} </div>
        <div class="col-md-4">

          <h1> Comment Your Pitch</h1>
                 {{ wtf.quick_form(Pitchform) }}

          </div>
       <div class="come">

         {% for Pitchcomments in Pitchcomments %}
             <blockquote>{{Pitchcomments.Pitchcom}}
<a href="#"><a href="#"></a>
        </blockquote>
         {% endfor %}

 </div>

</div>
</div>
</div>


{% endblock %}
